<section class="about">
  <div class="container">
    <h2 class="visually-hidden">About</h2>
    <ul class="about-list">
      <li class="about-card">
        <div class="container-about-svg">
          <a href="" class="about-icon-link">
            <svg class="about-icon" width="34" height="34">
              <use href="../img/sprite.svg#icon-university"></use>
            </svg>
          </a>
        </div>
        <p class="about-card-title">Investmant Banking</p>
        <p class="about-card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!
        </p>
      </li>
      <li class="about-card">
        <div class="container-about-svg">
          <a href="" class="about-icon-link">
            <svg class="about-icon" width="34" height="34">
              <use href="../img/sprite.svg#icon-book-reader"></use>
            </svg>
          </a>
        </div>
        <p class="about-card-title">Portfolio Manager</p>
        <p class="about-card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!
        </p>
      </li>
      <li class="about-card">
        <div class="container-about-svg">
          <a href="" class="about-icon-link">
            <svg class="about-icon" width="34" height="34">
              <use href="../img/sprite.svg#icon-pencil-alt"></use>
            </svg>
          </a>
        </div>
        <p class="about-card-title">Tax & Custudio</p>
        <p class="about-card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!.
        </p>
      </li>
    </ul>
  </div>
</section>
