<section class="blog">
  <div class="blog-container">
    <div class="blog-text-container">
      <h1 class="blog-title visually-hidden">Blog Post</h1>
      <p class="blog-text-date">April 16 2020</p>
      <h2 class="blog-subtitle">Blog Post One</h2>
      <p class="blog-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a href="" class="blog-button">Read Our Blog</a>
    </div>
    <picture>
      <source
        media="(min-width: 1360px)"
        srcset="
          ../img/blog-section/blog.jpg    1x,
          ../img/blog-section/blog@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/blog-section/blog-tbl.jpg    1x,
          ../img/blog-section/blog-tbl@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/blog-section/blog-mob.jpg    1x,
          ../img/blog-section/blog-mob@2x.jpg 2x
        "
      />
      <img src="../img/blog-section/blog.jpg" alt="blog-img" class="blog-img" />
    </picture>
  </div>
</section>
