<section class="callback">
  <div class="container">
    <div class="callback-picture-conatiner">
      <picture>
        <source
          media="(min-width: 1360px)"
          srcset="
            img/callback-section/desk-callback.jpg   1x,
            img/callback-section/desk-callback@2.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            img/callback-section/tab-callback.jpg   1x,
            img/callback-section/tab-callback@2.jpg 2x
          "
        />
        <source
          media="(max-width: 767.98px)"
          srcset="
            img/callback-section/mob-callback.jpg   1x,
            img/callback-section/mob-callback@2.jpg 2x
          "
        />
        <img
          src="img/callback-section/mob-callback.jpg"
          alt="a man at the desk"
        />
      </picture>
    </div>
    <div class="callback-form-container">
      <p class="callback-form-paragraph">Request Callback</p>
      <form class="callback-form">
        <div class="form-wrapper-container">
          <input
            class="form-user-input"
            type="text"
            id="user-name"
            name="user-name"
            placeholder="Enter your name"
            pattern="[a-zA-Z-яА-ЯіІїЇєЄґҐʼ]+"
          />
          <input
            class="form-user-input"
            type="email"
            id="form-user-email"
            name="user-email"
            placeholder="Enter email*"
            required
          />
        </div>
        <button type="submit" class="form-button">Send</button>
      </form>
    </div>
  </div>
</section>
