<section class="cases">
  <div class="cases-container">
    <h1 class="cases-title">This is what we do</h1>
    <h2 class="cases-subtitle">Business Cases</h2>
    <p class="cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
  </div>
  <ul class="cases-gallery">
    <li class="cases-gallery-card">
      <picture>
        <source
          srcset="
            img/cases-section/desk-business-meeting.jpg,
            img/cases-section/desk-business-meeting@2.jpg 2x
          "
          media="(min-width: 1360px)"
          width="320"
          height="214"
        />
        <source
          srcset="
            img/cases-section/tab-business-meeting.jpg,
            img/cases-section/tab-business-meeting@2.jpg 2x
          "
          media="(min-width: 768px)"
          width="172"
          height="115"
        />
        <source
          srcset="
            img/cases-section/mob-business-meeting.jpg,
            img/cases-section/mob-business-meeting@2.jpg 2x
          "
          media="(max-width: 767px)"
          width="264"
          height="176"
        />
        <img
          class="cases-gallery-card-img"
          src="img/cases-section/mob-business-meeting.jpg"
          alt="Business meeting"
        />
      </picture>
    </li>
    <li class="cases-gallery-card">
      <picture>
        <source
          srcset="
            img/cases-section/desk-work-on-laptop.jpg,
            img/cases-section/desk-work-on-laptop@2.jpg 2x
          "
          media="(min-width: 1360px)"
          width="320"
          height="214"
        />
        <source
          srcset="
            img/cases-section/tab-work-on-laptop.jpg,
            img/cases-section/tab-work-on-laptop@2.jpg 2x
          "
          media="(min-width: 768px)"
          width="172"
          height="115"
        />
        <source
          srcset="
            img/cases-section/mob-work-on-laptop.jpg,
            img/cases-section/mob-work-on-laptop@2.jpg 2x
          "
          media="(max-width: 767px)"
          width="264"
          height="176"
        />
        <img
          class="cases-gallery-card-img"
          src="img/cases-section/mob-work-on-laptop.jpg"
          alt="Work on Laptop"
        />
      </picture>
    </li>
    <li class="cases-gallery-card">
      <picture>
        <source
          srcset="
            img/cases-section/desk-data-analysis-charts.jpg,
            img/cases-section/desk-data-analysis-charts@2.jpg 2x
          "
          media="(min-width: 1360px)"
          width="320"
          height="214"
        />
        <source
          srcset="
            img/cases-section/tab-data-analysis-charts.jpg,
            img/cases-section/tab-data-analysis-charts@2.jpg 2x
          "
          media="(min-width: 768px)"
          width="172"
          height="115"
        />
        <source
          srcset="
            img/cases-section/mob-data-analysis-charts.jpg,
            img/cases-section/mob-data-analysis-charts@2.jpg 2x
          "
          media="(max-width: 767px)"
          width="264"
          height="176"
        />
        <img
          class="cases-gallery-card-img"
          src="img/cases-section/mob-data-analysis-charts.jpg"
          alt="Data analysis charts"
        />
      </picture>
    </li>
    <li class="cases-gallery-card">
      <picture>
        <source
          srcset="
            img/cases-section/desk-urban_skyline.jpg,
            img/cases-section/desk-urban_skyline@2.jpg 2x
          "
          media="(min-width: 1360px)"
          width="320"
          height="214"
        />
        <source
          srcset="
            img/cases-section/tab-urban_skyline.jpg,
            img/cases-section/tab-urban_skyline@2.jpg 2x
          "
          media="(min-width: 768px)"
          width="172"
          height="115"
        />
        <source
          srcset="
            img/cases-section/mob-urban_skyline.jpg,
            img/cases-section/mob-urban_skyline@2.jpg 2x
          "
          media="(max-width: 767px)"
          width="264"
          height="176"
        />
        <img
          class="cases-gallery-card-img"
          src="img/cases-section/mob-urban_skyline.jpg"
          alt="Urban skyline"
        />
      </picture>
    </li>
    <li class="cases-gallery-card">
      <picture>
        <source
          srcset="
            img/cases-section/desk-partnership.jpg,
            img/cases-section/desk-partnership@2.jpg 2x
          "
          media="(min-width: 1360px)"
          width="320"
          height="214"
        />
        <source
          srcset="
            img/cases-section/tab-partnership.jpg,
            img/cases-section/tab-partnership@2.jpg 2x
          "
          media="(min-width: 768px)"
          width="172"
          height="115"
        />
        <source
          srcset="
            img/cases-section/mob-partnership.jpg,
            img/cases-section/mob-partnership@2.jpg 2x
          "
          media="(max-width: 767px)"
          width="264"
          height="176"
        />
        <img
          class="cases-gallery-card-img"
          src="img/cases-section/mob-partnership.jpg"
          alt="Partnership"
        />
      </picture>
    </li>
    <li class="cases-gallery-card">
      <picture>
        <source
          srcset="
            img/cases-section/desk-modern_office.jpg,
            img/cases-section/desk-modern_office@2.jpg 2x
          "
          media="(min-width: 1360px)"
          width="320"
          height="214"
        />
        <source
          srcset="
            img/cases-section/tab-modern_office.jpg,
            img/cases-section/tab-modern_office@2.jpg 2x
          "
          media="(min-width: 768px)"
          width="172"
          height="115"
        />
        <source
          srcset="
            img/cases-section/mob-modern_office.jpg,
            img/cases-section/mob-modern_office@2.jpg 2x
          "
          media="(max-width: 767px)"
          width="264"
          height="176"
        />
        <img
          class="cases-gallery-card-img"
          src="img/cases-section/mob-modern_office.jpg"
          alt="Modern office"
        />
      </picture>
    </li>
    <li class="cases-gallery-card">
      <picture>
        <source
          srcset="
            img/cases-section/desk-team_unity.jpg,
            img/cases-section/desk-team_unity@2.jpg 2x
          "
          media="(min-width: 1360px)"
          width="320"
          height="214"
        />
        <source
          srcset="
            img/cases-section/tab-team_unity.jpg,
            img/cases-section/tab-team_unity@2.jpg 2x
          "
          media="(min-width: 768px)"
          width="172"
          height="115"
        />
        <source
          srcset="
            img/cases-section/mob-team_unity.jpg,
            img/cases-section/mob-team_unity@2.jpg 2x
          "
          media="(max-width: 767px)"
          width="264"
          height="176"
        />
        <img
          class="cases-gallery-card-img"
          src="img/cases-section/mob-team_unity.jpg"
          alt="Team unity"
        />
      </picture>
    </li>
    <li class="cases-gallery-card">
      <picture>
        <source
          srcset="
            img/cases-section/desk-work-environment.jpg,
            img/cases-section/desk-work-environment@2.jpg 2x
          "
          media="(min-width: 1360px)"
          width="320"
          height="214"
        />
        <source
          srcset="
            img/cases-section/tab-work-environment.jpg,
            img/cases-section/tab-work-environment@2.jpg 2x
          "
          media="(min-width: 768px)"
          width="172"
          height="115"
        />
        <source
          srcset="
            img/cases-section/mob-work-environment.jpg,
            img/cases-section/mob-work-environment@2.jpg 2x
          "
          media="(max-width: 767px)"
          width="264"
          height="176"
        />
        <img
          class="cases-gallery-card-img"
          src="img/cases-section/mob-work-environment.jpg"
          alt="Work environment"
        />
      </picture>
    </li>
  </ul>
</section>
