<section class="solution">
  <div class="container">
    <div class="solution-container">
      <img class="solution-img" src="/img/Rectangle.jpg" alt="Rectangle" />
      <div class="solution-div">
        <h2 class="solution-div-h2">What you are looking for</h2>
        <h1 class="solution-div-h1">We provide bespoke solutions</h1>
        <p class="solution-div-p">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
          ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
          illum dolore explicabo ab dolores itaque rerum temporibus doloribus
          iste maiores deleniti?
        </p>
        <button class="solution-div-button" type="button">
          <span class="">Read More</span>
        </button>
      </div>
    </div>
  </div>
</section>
