<section class="team">
  <div class="team-container">
    <h1 class="team-title">Who we are</h1>
    <h2 class="team-subtitle">Our Professional Team</h2>
    <p class="team-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
  </div>
  <ul class="team-list">
    <li class="team-member">
      <div class="team-member-img-bg">
        <picture>
          <source
            srcset="
              img/team-section/desk-president.jpg,
              img/team-section/desk-president@2.jpg 2x
            "
            media="(min-width: 1360px)"
            width="420"
            height="280"
          />
          <source
            srcset="
              img/team-section/tab-president.jpg,
              img/team-section/tab-president@2.jpg 2x
            "
            media="(min-width: 768px)"
            width="223"
            height="148"
          />
          <source
            srcset="
              img/team-section/mob-president.jpg,
              img/team-section/mob-president@2.jpg 2x
            "
            media="(max-width: 767px)"
            width="280"
            height="186"
          />
          <img
            class="team-member-img"
            src="img/team-section/mob-president.jpg"
            alt="President"
          />
        </picture>
        <p class="team-member-overlay">social icons</p>
      </div>

      <div class="team-member-card">
        <p class="team-member-name">John Doe</p>
        <p class="team-member-role">President</p>
      </div>
    </li>
    <li class="team-member">
      <div class="team-member-img-bg">
        <picture>
          <source
            srcset="
              img/team-section/desk-vice-president.jpg,
              img/team-section/desk-vice-president@2.jpg 2x
            "
            media="(min-width: 1360px)"
            width="420"
            height="280"
          />
          <source
            srcset="
              img/team-section/tab-vice-president.jpg,
              img/team-section/tab-vice-president@2.jpg 2x
            "
            media="(min-width: 768px)"
            width="223"
            height="148"
          />
          <source
            srcset="
              img/team-section/mob-vice-president.jpg,
              img/team-section/mob-vice-president@2.jpg 2x
            "
            media="(max-width: 767px)"
            width="280"
            height="186"
          />
          <img
            class="team-member-img"
            src="img/team-section/mob-vice-president.jpg"
            alt="Vice President"
          />
        </picture>
        <p class="team-member-overlay">social icons</p>
      </div>
      <div class="team-member-card">
        <p class="team-member-name">Jane Doe</p>
        <p class="team-member-role">Vice President</p>
      </div>
    </li>
    <li class="team-member">
      <div class="team-member-img-bg">
        <picture>
          <source
            srcset="
              img/team-section/desk-marketing-head.jpg,
              img/team-section/desk-marketing-head@2.jpg 2x
            "
            media="(min-width: 1360px)"
            width="420"
            height="280"
          />
          <source
            srcset="
              img/team-section/tab-marketing-head.jpg,
              img/team-section/tab-marketing-head@2.jpg 2x
            "
            media="(min-width: 768px)"
            width="223"
            height="148"
          />
          <source
            srcset="
              img/team-section/mob-marketing-head.jpg,
              img/team-section/mob-marketing-head@2.jpg 2x
            "
            media="(max-width: 767px)"
            width="280"
            height="186"
          />
          <img
            class="team-member-img"
            src="img/team-section/mob-marketing-head.jpg"
            alt="Marketing Head"
          />
        </picture>
        <p class="team-member-overlay">social icons</p>
      </div>
      <div class="team-member-card">
        <p class="team-member-name">Steve Smith</p>
        <p class="team-member-role">Marketing Head</p>
      </div>
    </li>
  </ul>
</section>
