.blog {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.blog-container {
  display: flex;
}

.blog-img {
  width: 320px;
  height: 247px;
}

.blog-text-container {
  background: #0284d0;
  max-width: 320px;
  max-height: 434px;
  padding: 30px;
}

.blog-text-date {
  font-size: 18px;
  line-height: 1.664;
  margin-bottom: 5px;
}

.blog-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 14px;
}

.blog-subtitle {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26316;
  margin-bottom: 25px;
}

.blog-button {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 184px;
  height: 47px;

  font-size: 16px;
  line-height: 1.6;
  padding: 10px 31px 11px 41px;
}

@media screen and (max-width: 767.98px) {
  .blog-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .blog-text {
    max-width: 260px;
  }
}

@media screen and (min-width: 768px) {
  .blog-container {
    justify-content: center;
  }
  .blog-img {
    width: 384px;
    height: 468px;
  }
  .blog-text-container {
    max-width: 384px;
    max-height: 468px;
    padding: 29px 39px 30px 30px;
  }
  .blog-text-date {
    font-size: 20px;
    line-height: 1.64736;
  }
  .blog-subtitle {
    margin-bottom: 26px;
  }
  .blog-text {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 20px;
    width: 315px;
  }
  .blog-button {
    width: 196px;
    height: 50px;

    font-size: 18px;
    line-height: 1.56444;
    padding: 11px 31px 10px 42px;
  }
}

@media screen and (min-width: 1360px) {
  .blog {
    max-width: 1360px;
  }
  .blog-img {
    width: 680px;
    height: 517px;
  }
  .blog-text-container {
    max-width: 680px;
    max-height: 517px;
    padding: 112px 44px 113px 30px;
  }
  .blog-text {
    margin-bottom: 17px;
    width: 606px;
  }
}
