* {
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  display: block;
}

.header-container {
  padding-top: 20px;
  padding-right: 19px;
  padding-left: 20px;
  padding-bottom: 20px;
  position: absolute;
}

.logo-part {
  font-size: 32px;
  line-height: 1.32;
  color: #28a745;
}

.logo-header {
  font-size: 32px;
  line-height: 1.32;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 12px;
}
.icon-logo-svg {
  fill: #28a745;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 35px;
  margin-right: 5.69px;
}

.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 13px;
  /* margin-top: auto; */
  align-items: center;
  justify-content: center;
}
.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 41px;
    padding-top: 17px;
    padding-right: 37px;
  }

  .header-nav {
    flex-direction: row;
  }
  .logo-header {
    margin-right: 65px;
    padding-bottom: 0;
    font-size: 35px;
    line-height: 1.20686;
  }
  .logo-part {
    font-size: 35px;
    line-height: 1.20686;
  }
  .nav-list {
    gap: 18px;
  }
  .nav-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56444;
  }
}

@media screen and (min-width: 1360px) {
  .header-container {
    padding-top: 19px;
    padding-right: 46px;
    padding-left: 49px;
  }

  .logo-header {
    margin-right: 557px;
  }
  .nav-list {
    gap: 38px;
  }
}
