.hero {
  width: 320px;
  margin: 0 auto;
  height: auto;
  color: #fff;
}

.hero-title {
text-align: center;
font-weight: 300;
font-size: 52px;
line-height: 1.26923;
text-align: center;
color: #e9e9e9;
}
  
.hero-subtitle {
text-align: center;  
font-weight: 400;
font-size: 22px;
line-height: 1.67273;
text-align: center;
color: #e9e9e9;
margin: 16px 0 27px;
}

.hero-button {
    background-color: #28a745;
    width: 156px;
    height: 45px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;    
    text-align: center;
    border-radius: 5px;
}

.hero-container {
  padding-top: 120px;
  height: 533px; /* 553px minus header padding-top 20px*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/header-background/header_background_mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
  }

.hero-subtitle {
margin: 25px 0 29px;
}
  
.hero-button {
    background-color: #28a745;
width: 165px;
height: 48px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;    
    text-align: center;
    border-radius: 5px;
}
  
  .hero-container {
    height: 1007px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/header-background/header_background_tablet@1x.jpg);

    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1360px) {
  .hero {
    min-width: 1360px;
  }

  .hero-title {
font-size: 55px;
  }
  
  .hero-container {
    height: 749px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/header-background/header_background_desktop@1x.jpg);

    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
