:root {
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.team {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 0 50px;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.664;
  text-align: center;
}

.team-subtitle {
  margin-top: 15px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26316;
  text-align: center;
  max-width: 220px;
}

.team-text {
  margin: 35px 0 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  max-width: 207px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-member-overlay {
  display: none;
  line-height: 0;
}

.team-member-name {
  margin-top: 15px;
  font-weight: 400;
  font-size: 23px;
  line-height: 1.25217;
  text-align: center;
}
.team-member-role {
  margin-top: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.team-member-img-bg {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-member:hover .team-member-img {
  object-fit: cover;
  opacity: 0.4;
}

.team-member:hover .team-member-img-bg {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);
  scale: 1.02;
  transition: 250ms var(--cubic-bezier);
}

.team-member-img.bg {
  position: relative;
  overflow: hidden;
}

.team-member:hover .team-member-overlay {
  display: flex;
  color: #fff;
  position: absolute;
  transition: transform 250ms var(--cubic-bezier);
}

.team-member-social-list {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.social-icon-svg {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .team {
    padding: 48px 0 59px;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .team-title {
    font-size: 20px;
    line-height: 1.64736;
  }

  .team-subtitle {
    margin-top: 16px;
    min-width: 410px;
  }

  .team-text {
    margin: 34px 0 49px;
    font-size: 17px;
    line-height: 1.65647;
    min-width: 625px;
  }

  .team-member-name {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1360px) {
  .team {
    padding: 49px 0 59px;
  }

  .team-text {
    margin: 34px 0 45px;
    font-size: 18px;
    line-height: 1.56444;
  }
  .team-member-name {
    margin-top: 13px;
  }
}
